@use "@material/card";
@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/dialog";

@include dialog.core-styles;
.hide {
    display: none;
}
.mdc-button { 
    &--cancelar{ 
        --mdc-theme-primary: #2962FF;
    }
    &--confirmar{
        --mdc-theme-primary: #D50000;
    }    
    &--excluir{
        --mdc-theme-primary:#D50000;
        margin-bottom: -2em;
    }
   
}

.showModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor de fundo com transparência */
    z-index: 1000;
    /* Coloque um valor alto para sobrepor outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#modalImg {
    margin: auto 0 auto 0;
}

#modalButton {
    margin-left: 100%;
}

.modalFormulario {
    padding-top: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background-color: white;
    border: 1px solid hsla(0, 0%, 2%, 0.2);
    max-width: 45vh;

}

.containerModalFormulario {
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}