@use "@material/card";
@use "@material/button/styles";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";
@use "@material/textfield/icon";

@include icon.icon-core-styles;
@include textfield.core-styles;
.mdc-card {
    &--outlined{
        background-color: white;
        padding:1.5em;
        border-radius: 0.5em;
    }

}
.mdc-button {
    &--cancelar{
        --mdc-theme-primary:#2962FF;
    }
    &--confirmar{
        --mdc-theme-primary:#00C853;
        margin-right:2em;
    }
    &--editar {
        --mdc-theme-primary: #212121;
    }
    &--adicionar {
        --mdc-theme-primary: #00C853;
    }
}


.errorLabel {
    color: #D50000;
}
button {
    margin-top: 2em;
}
.spacing{
    margin-top:2em; 
}

.hide {
    display: none;
}

.showModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Cor de fundo com transparência */
    z-index: 1000;
    /* Coloque um valor alto para sobrepor outros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

#modalImg {
    margin: auto 0 auto 0;
}

#modalButton {
    margin-left: 100%;
}

.modalFormulario {

    background-color: white;
    border: 3px solid hsla(0, 0%, 2%, 0.3);
}

.containerModalFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 110vh;
    padding:2.5em;

}
